/ChurchDirectorySQLBackendDocumentation.pdf
/churchdirectoryWithSQLServerConnections.html
/churchdirectoryWithSQLServerConnections.html.bak
/server.js
/server.js.bak
/SQL Server Setup Instructions.docx